.header__menu {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__menu {
    width: 100%;
    height: 500px;
    background-color: #ffcfa6;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 4;
  }
}

@media screen and (max-width: 428px) {
  .header__menu {
    width: 100%;
    height: 420px;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 4;
  }
}
