.footer__title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 136%;
}

@media screen and (min-width: 321px) and (max-width: 720px) {
  .footer__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .footer__title {
    font-size: 18px;
  }
}
