.footer__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.36;
  text-transform: uppercase;
  margin: 0 auto;
  transition: .2s ease;
  z-index: 2;
}

@media screen and (max-width: 428px) {
  .footer__title {
    font-size: 1.5em;
  }
}

.footer__title:hover {
/*  transform:
    translate3d(0px, -16px, 0px)
    rotateX(51deg)
    rotateZ(43deg);*/
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}
